## Generate synthetic data using private marginals
---

#### Clean and get dataset and include important functions and packages

In [121]:
# get dataset
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

def laplace_mech(v, sensitivity, epsilon):
    return v + np.random.laplace(loc=0, scale=sensitivity / epsilon)

def gaussian_mech(v, sensitivity, epsilon, delta):
    return v + np.random.normal(loc=0, scale=sensitivity * np.sqrt(2*np.log(1.25/delta)) / epsilon)

def gaussian_mech_vec(vec, sensitivity, epsilon, delta):
    return [v + np.random.normal(loc=0, scale=sensitivity * np.sqrt(2*np.log(1.25/delta)) / epsilon)
            for v in vec]

def pct_error(orig, priv):
    return np.abs(orig - priv)/orig * 100.0

bear = pd.read_csv('https://raw.githubusercontent.com/jbennett979/Data_Privacy_FP/refs/heads/main/north_america_bear_killings.csv')

In [122]:
# Cleaning up the dataset
bear.columns = [c.lstrip() for c in bear]
# capitalizing columns name for age and gender
bear= bear.rename(columns={'age': 'Age'})
bear= bear.rename(columns={'gender': 'Gender'})

bear['Age'] = pd.to_numeric(bear['Age'], errors = 'coerce')
bear

,Name,Age,Gender,Date,Month,Year,Type,Location,Description,Type of bear,Hunter,Grizzly,Hikers,Only one killed
0,Erin Johnson,27,female,6/19/2017,6,2017,Wild,"Pogo mine, Alaska","Johnson, a contract employee for Pogo Mine, wa...",Black bear,0,0,0,1
1,Patrick Cooper,16,male,6/18/2017,6,2017,Wild,"Indian, Alaska",Cooper was chased and mauled by a bear while r...,Black bear,0,0,0,1
2,Daniel Ward O'Connor,27,male,5/10/2015,5,2015,Wild,"near Mackenzie, British Columbia",Ward was killed by a bear while he slept near ...,Black bear,0,0,0,1
3,Darsh Patel,22,male,9/21/2014,9,2014,Wild,"near West Milford, New Jersey",Patel was about to begin hiking with four frie...,Black bear,0,0,1,1
4,Lorna Weafer,36,female,5/7/2014,5,2014,Wild,"near Fort McMurray, Alberta","Weafer, a Suncor worker was attacked at the re...",Black bear,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,Baby Laird,1,NaN,10/5/1908,10,1908,Captive,"Tucson, Arizona",After a bear escaped from a cage at Elysian Gr...,Black bear,0,0,0,1
160,John Dicht,18,male,11/24/1906,11,1906,Wild,"Elk County, Pennsylvania","Thinking the bear was dead, Dicht began skinni...",Black bear,0,0,0,1
161,Mary Porterfield,3,female,5/19/1901,5,1901,Wild,"Job, West Virginia",The children were gathering flowers near their...,Black bear,0,0,0,0
162,Wilie Porterfield,5,male,5/19/1901,5,1901,Wild,"Job, West Virginia",The children were gathering flowers near their...,Black bear,0,0,0,0
163,Henry Porterfield,7,male,5/19/1901,5,1901,Wild,"Job, West Virginia",The children were gathering flowers near their...,Black bear,0,0,0,0

#### Finding a differentially private average from the data set in order to safely compare outputs to the data

In [123]:
# Differentially private value to compare synthetic data against
def pick_b(epsilon, s):
    bs = range(0, 100, 10)
    last_result = 0
    epsilon_i = epsilon / len(bs)

    for b in bs:
        clipped_sum = s.clip(upper=b).sum()
        result = laplace_mech(clipped_sum, sensitivity=b, epsilon=epsilon_i)
        if result < last_result:
            return b
        else:
            last_result = result
    return bs[-1]

def dp_sum_age(epsilon):
    clipping_param = pick_b(epsilon, bear['Age'])
    # print("clipping parameter: ", clipping_param)
    age_dp = bear['Age'].clip(upper=clipping_param).sum()

    return laplace_mech(age_dp, sensitivity=clipping_param, epsilon=epsilon)

# compute a differentially private average of age column
def dp_avg_age(epsilon):
    dp_sum = dp_sum_age(epsilon/2)
    age_dp = bear['Age'].shape[0]
    dp_count = laplace_mech(age_dp, sensitivity=1, epsilon=epsilon/2)

    dp_avg = dp_sum/dp_count
    return dp_avg

# TODO: remove actual querying of dataset
print("real avg: ", bear['Age'].mean())
print("dp_avg: ", dp_avg_age(1.0))

print('Percent error: {}'.format(pct_error( bear['Age'].mean(), dp_avg_age(1.0))))

real avg:  36.09756097560975
dp_avg:  36.58029729112483
Percent error: 1.5534463819507671

#### Functions to generate differentially private marginals

In [139]:
# calculates a differentially private one-way marginal for a given column
def dp_marginal(col, epsilon):
    hist = bear[col].value_counts()
    dp_hist = hist.apply(lambda x: laplace_mech(x, 1, epsilon))
    clipped = dp_hist.clip(lower=0)
    marginal = clipped / clipped.sum()
    return marginal

In [140]:
# one-way marginal for the age column
age_marg = dp_marginal('Age', 1.0)
hist = bear['Age'].value_counts() / len(bear['Age'])
df = pd.merge(hist, age_marg, on='Age').rename(columns={'count_x': 'Real_Age', 'count_y': 'Synth_Age'})
df['% Error'] = df.apply(lambda x: pct_error(x.Real_Age, x.Synth_Age), axis=1)
df
# age_marg

     Real_Age  Synth_Age     % Error
Age
40   0.048780   0.054183   11.075574
24   0.036585   0.043135   17.901318
19   0.036585   0.036489    0.264353
37   0.036585   0.049966   36.573788
31   0.030488   0.031056    1.862260
..        ...        ...         ...
23   0.006098   0.002861   53.073556
43   0.006098   0.000000  100.000000
8    0.006098   0.004074   33.191744
76   0.006098   0.011385   86.717725
52   0.006098   0.021197  247.630851

[64 rows x 3 columns]

In [141]:
# one-way marginal for the type of bear column
dp_marginal('Type of bear', 1.0)

Type of bear
Brown bear    0.468156
Black bear    0.453295
Polar Bear    0.078548
Name: count, dtype: float64

In [127]:
# one-way marginal for if bear is a grizzly
dp_marginal('Grizzly', 1.0)

Grizzly
0    0.839119
1    0.160881
Name: count, dtype: float64

* Start off by generating a synthetic representation of the age column
* From the age column, generate a two way marginal for age and something else
    * Type of bear
    * Hiker
    * Hunter
* Compare the accuracies

#### Generate synthetic data from one-way marginal

In [150]:
def gen_samples(n, marginal):
    samples = marginal.sample(n=n, replace=True, weights='probability')
    return samples.drop(columns='probability')

def dp_synthetic_data(cols, n, epsilon):
    epsilon_i = epsilon / len(cols)
    data_dict = {}

    for col in cols:
        marg = dp_marginal(col, epsilon_i).to_frame(name='probability')
        synth = marg.sample(n=n, replace=True, weights='probability').sort_index()

        synth = synth.index.to_series().reset_index(drop=True)
        data_dict[col] = synth

    return pd.concat(data_dict, axis=1)

dp_synthetic_data(['Age'], 20, 1.0)

    Age
0     5
1    11
2    11
3    12
4    19
5    22
6    22
7    22
8    26
9    28
10   33
11   37
12   40
13   51
14   53
15   53
16   54
17   64
18   70
19   70

#### Generate two-way marginals

In [128]:
# Generate a two way synthetic rep for age and type of bear
def two_way_bear_hist(col1, col2, epsilon):
    # goal: 2-dimensional histogram
    hist = bear[[col1, col2]].value_counts()
    dp_hist = hist.apply(lambda x: laplace_mech(x, sensitivity=1, epsilon=epsilon))
    return dp_hist.clip(lower=0)

def two_marginal(col1, col2, epsilon):
    # 1. generate the synthetic representation
    syn_rep = two_way_bear_hist(col1, col2, epsilon)
    # 2. normalize to get a probability distribution
    marginal = syn_rep / syn_rep.sum()
    return marginal.to_frame(name='probability').reset_index()

def gen_samples(n, marginal):
    samples = marginal.sample(n=n, replace=True, weights='probability')
    return samples.drop(columns='probability')

In [129]:
# two way marginal
marginal = two_marginal('Hunter','Age', 1.0)
gen_samples(15, marginal)

    Hunter  Age
10       0    5
7        0   31
44       1   40
7        0   31
7        0   31
58       0   58
36       0   55
6        0   38
28       0   68
71       1   32
5        0   19
32       0   49
0        0   40
75       1   54
7        0   31